* {
  box-sizing : border-box;
  margin     : 0 auto;
  padding    : 0;
  font-family: 'PT Sans Caption', sans-serif;
}

body {
  background-color: ghostwhite;
  margin-top      : 100px;
}

h2 {
  font-size  : 24px;
  line-height: 20px;
}

.calculator {
  padding        : 30px;
  display        : flex;
  justify-content: center;
  height         : fit-content;
  border         : 2px solid black;
  border-radius  : 5px;
  width          : 70%;

}

.calculator__items {
  padding-right: 30px;
}

input {
  margin-top        : 10px;
  margin-bottom     : 10px;
  outline           : none;
  border            : none;
  width             : 35%;
  height            : 40px;
  background-color  : white;
  border-radius     : 5px;
  padding-left      : 10px;
  -webkit-box-shadow: 7px 10px 23px 0px rgba(65, 107, 140, 0.24) inset;
  -moz-box-shadow   : 7px 10px 23px 0px rgba(65, 107, 140, 0.24) inset;
  box-shadow        : 7px 10px 23px 0px rgba(65, 107, 140, 0.24) inset;
}

input:focus {
  outline: 1px solid black;
  border : none;
}


.calculator__items-submit {
  margin-top        : 40px;
  margin-right      : 15px;
  padding           : 10px 20px;
  cursor            : pointer;
  background-color  : blanchedalmond;
  border            : none;
  border-radius     : 5px;
  -webkit-box-shadow: 7px 10px 23px 0px rgba(65, 107, 140, 0.24);
  -moz-box-shadow   : 7px 10px 23px 0px rgba(65, 107, 140, 0.24);
  box-shadow        : 7px 10px 23px 0px rgba(65, 107, 140, 0.24);
}

.calculator__items-submit:hover {
  outline: 1px solid black;
}

.calculator__result {
  -webkit-box-shadow: 7px 10px 23px 0px rgba(65, 107, 140, 0.24);
  -moz-box-shadow   : 7px 10px 23px 0px rgba(65, 107, 140, 0.24);
  box-shadow        : 7px 10px 23px 0px rgba(65, 107, 140, 0.24);
  border-radius     : 15px;
  width             : 30%;
  padding           : 30px;
  background-color  : white;
}

.item__result {
  font-size  : 18px;
  font-weight: 700;
  color      : blueviolet;
}